@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: fadeIn ease 1s;
  z-index: 999;
  background-color: #3a3d42;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20rem;
  margin-left: -15rem;
  width: 30rem;
  height: 40rem;
  filter: none !important;
  opacity: 0.9;
  border-radius: 5%;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:0.9;}
}

.modal--fade-out {
  animation: fadeOut ease 1s;
}

@keyframes fadeOut {
  0% {opacity:0.9;}
  100% {opacity:0;}
}

.modal--title {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: white;
  opacity: 1 !important;
}

.modal--text {
  color: white;
  opacity: 1 !important;
}

.modal--image {
  animation: bounce 1s; 
  animation-iteration-count: 2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 1 !important;
}

@keyframes bounce {
  0% { transform: translateY(0px)  }
  50% { transform: translateY(-20px) }
  100% { transform: translateY(0px) }
}

.modal--actions {
  display: flex;
  flex-direction: row;
  color: white;
  opacity: 1 !important;
}

.modal--actions--button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
}

.message {
  background-color: #FE3C72;
  overflow-wrap: break-word;
}

.message:hover {
  cursor: pointer;
  background: #bf2e56;
}

.message-sent {
  background: #bf2e56;
}

.continue {
  background-color: #363636;
}

.continue:hover {
  cursor: pointer;
  background-color: #1f1f1f;
}

.prevent-events {
  pointer-events: none;
}