.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.app-blur>* {
  filter: blur(10px);
}

.moving {
  box-shadow: none;
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.buttons {
  flex-grow: 1;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.button {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
}

.nope {
  display: flex;
  background-color:#c44c47;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 0px 0px #ad4945;
}

.nopeX {
  color: white;
  font-weight: bold;
}

.nope:active {
  background-color: #ad4945;
}

.love {
  background-color: #2fba87;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 0px 0px #3d9982;
}

.heart {
  margin-top: 0.5rem;
  background-color: white;
  display: inline-block;
  height: 20px;
  position: relative;
  transform: rotate(-45deg);
  width: 20px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart:before {
  top: -10px;
  left: 0;
}

.heart:after {
  left: 10px;
  top: 0;
}

.love:active {
  background-color: #26967a;
}


.moving {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 100ms, opacity 100ms;
}

.disable-pointer-events {
  pointer-events: none;
}